/* padroes para toda a pagina */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
/* container para o header */
.container-header{
    
    background-color: #E0E0E0;
    width: 100%;
}

/* header da paginha */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    max-width: 1100px;
    width: 95%;
    margin: auto;
}
/* itens do header */
.itens-header{
    display: flex;
    align-items: center;
}
/* Titulo do header */
.titulo{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #333333;
    padding-left: 20px;
    width: 200px;
    
}
/* Barra de menus */
.menu{
    background: #FFFFFF;
    justify-content: space-around;
    display: flex;
}
/* ajuste das opçoes de menus */
nav a, .pipeline{
    color: #333333;
    text-decoration: none;
    padding: 8px;
    transition: background-color 0.2s;
}

/* animação dos botoes de menu */
nav a:hover {
    background: #c4c4c4;
    color: #333333;
    font-weight: bold;
}
/* icone haburguer */
.hamburgmenu ul{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 75%;
    background-color: #333333;
    color: #FFFFFF;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* imagen do icone hamburguer */
.imgmenu{
    width: 18px;
    background: #E0E0E0;
    display: none;
    padding: 5px;
}
/* container seção para o formulario e a tabela extrato */
#secao {
    display: flex;
    max-width: 1100px;
    width: 95%;
    margin: auto;
}
/* container para o formulario  */
.formulario{
    display: flex;
    width: 40%;
}
/* parametros do formulario */
form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    border: 1px solid #979797;
    border-radius: 4px;
    margin-top: 30px; 
}
/* titulo da transacao */
.tituloTransacao {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    color: #333333;
    top: 15px;
    text-align: center;
    margin-bottom: 20px;
}
/* container dos campos do form */
.containerform{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}
/* ajustando os labels */
.nomeCampo {
    color: #333333;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
}

/* ajuste do seletor */
select, #nomeItem, #precoProd {
    color: #333333;
    font-size: 14px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #979797;
    padding-left: 5px;
}
select::selection {
    color: var(--gray);
}
/* botao adicionar */
#btnAdicionar {
    background:  #333333;
    color: #FFFFFF;
    line-height: 22px;
    border: 1px solid #979797;
    border-radius: 4px;
    width: 100%;
    height: 35px;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 11px;
    transition: background-color 0.4s;
    cursor: pointer;
}
/* animacao do botao adicionar */
#btnAdicionar:hover {
    background: #c4c4c4;
    color: #333333;
    font-weight: bold;
    
}
/* container da tabela de extrato */
.extrato {
    display: flex;
    width: 70%;
    justify-content: end;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

table {
    width: 96%;
    align-self: flex-end;
}

table, th, td {
    border-bottom: 1px solid #979797;
    border-collapse: collapse;
    
}

tr{
    height: 30px;
}

th {
    height: 40px;
    text-align: left;
}

.tabelaExtrato {
    font-size: 1.125em;
    line-height: 1.125em;
    color: #333333;
    font-weight: bold;
    margin-bottom: 25px;
    
}

.alinha-texto {
    text-align: end;
}

.centraliza-texto {
    text-align: center;
    width: 10px;
} 

tbody .border-double {
    border-bottom-style: double;
}

tfoot tr {
    border-bottom: hidden;
}
/* rodapé da pagina */
.footer{
    background: #333333;
    height: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;

}